button{
    border: 3px solid black;
    background-color: rgb(216, 178, 150);
    height: 30px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    /* transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
    transition-delay: 1ms; */
    transition: all 0.5s ease-in-out 2ms;
}
button:hover{
    background-color: brown;
    height: 40px;
    width: 90px;
}
button:active{
    background-color: rgb(97, 3, 3);
}
.div{
    margin: 20px;
    padding: 10px;
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 10px;
    position: relative;
    top:50px;
    left:150px;
    bottom:100px;
    transition: all 0.5s ease-in-out 0s;
}
#div1{
    background-color: rgb(163, 218, 240);
}
#div1:hover{
    background-color: rgb(48, 195, 253);
    transform: rotate(45deg) scale(2) translate(50px) skew(49deg);
}
#div2{
    background-color: rgb(241, 112, 103);
}
#div2:hover{
    background-color: rgb(207, 26, 26);
    transform: rotate(180deg) scale(0.5) translate(50px, 50px) skew(90deg);
}
#div3{
    background-color: rgb(187, 236, 96);
}
#div3:hover{
    background-color: rgb(66, 177, 15);
    transform: rotatex(65deg) scalex(2) translatex(50px);
}
#div4{
    background-color: rgb(243, 124, 223);
}
#div4:hover{
    background-color: rgb(206, 24, 176);
    transform: rotatey(73deg) scaley(2) translatey(50px);
}
#divA2{
    height: 100px;
    width: 100px;
    border: 4px solid rgb(13, 37, 11);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: seagreen;
    color: bisque;
    position: relative;

    animation-name: slider;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-delay:0.3ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes slider {
    /* from{left: 10px;}
    to{left: 300px} */
    0%{left:10px; top:0px}
    50%{left:150px; top:100px}
    100%{left:300px; top:0px}
}